<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <ActiveProfile>Production</ActiveProfile>
  <DebugBuildProfile>Development</DebugBuildProfile>
  <Profiles>
    <!-- Learn more about Application Insights configuration with ApplicationInsights.config here: 
         http://go.microsoft.com/fwlink/?LinkID=392530
        
         Settings defined under <Defaults> are merged with their overrides specified under active <Profile> element 
         You can select which profile is active by using <ActiveProfile> element. If this element is missing, default settings 
         are used. 
             
         The <DebugBuildProfile> element defines the profile that will be used when a debug version of the application is built
         within Visual Studio. -->
    <Defaults>
      <!-- Application Insights component settings -->
      <ComponentSettings>
        <!-- Account id is used to uniquely identify your Application Insights account. -->
        <AccountID>429fc55b-6f4f-4d6c-a5d2-ee38fc512d30</AccountID>
        <!-- A unique identifier of the application component in Application Insights. It is used to differentiate data sent 
            by different components and from different applications. -->
        <ComponentID>234ef50e-0c47-4d74-9ac5-ad2cec70770e</ComponentID>
        <!-- A name under which your monitored application component is displayed in the Application Insights -->
        <ComponentName>CurrentSprint</ComponentName>
      </ComponentSettings>
      <VisualStudio>
        <PortalURI>https://kanzhelev.visualstudio.com/</PortalURI>
        <DashboardID>f2a1c36f-8c9a-4c31-a06d-90081554fb2a</DashboardID>
      </VisualStudio>
    </Defaults>
    <Profile name="Production">
      <ClientAnalytics>
        <!-- Determines whether or not events will appear in raw form in the developer dashboard. It is recommended this be set
             to true for debug builds when diagnosing your application's use of telemetry events. For deployment, it is
             highly recommended that this value be false. -->
        <SendToRawStream>false</SendToRawStream>
        <!-- When CollectUserName is set to true, Application Insights SDK collects user name from the machine sending 
             events. This data is only meaningful when SendToRawStream is true. -->
        <CollectUserName>false</CollectUserName>
        <!-- When CollectMachineName is set to true, Application Insights SDK collects machine name from the machine
             sending events. This data is only meaningful when SendToRawStream is true. -->
        <CollectMachineName>false</CollectMachineName>
        <!-- Session timeout in seconds -->
        <ResumeRestartTimeoutSeconds>300</ResumeRestartTimeoutSeconds>
      </ClientAnalytics>
    </Profile>
    <Profile name="Development">
      <ClientAnalytics>
        <!-- Determines whether or not events will appear in raw form in the developer dashboard. It is recommended this be set
             to true for debug builds when diagnosing your application's use of telemetry events. For deployment, it is
             highly recommended that this value be false. -->
        <SendToRawStream>true</SendToRawStream>
        <!-- When CollectUserName is set to true, Application Insights SDK collects user name from the machine sending 
             events. This data is only meaningful when SendToRawStream is true. -->
        <CollectUserName>true</CollectUserName>
        <!-- When CollectMachineName is set to true, Application Insights SDK collects machine name from the machine
             sending events. This data is only meaningful when SendToRawStream is true. -->
        <CollectMachineName>true</CollectMachineName>
        <!-- Session timeout in seconds when debugging-->
        <ResumeRestartTimeoutSeconds>5</ResumeRestartTimeoutSeconds>
      </ClientAnalytics>
    </Profile>
  </Profiles>
</ApplicationInsights>